body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.navigation {
    justify-content: space-around;
    background-color: #333;
    align-items: center;
    display: flex;
    padding: 10px;
}
.navigation nav ul {
    list-style: none;
    display: flex;
}
.navigation nav ul li {
    margin: 0 10px;
}
.navigation h1 {
    color: white;
    font-size: 24px;
}
.navigation nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}
.navigation nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    border-radius: 5px;
}
.active {
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    border-radius: 5px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
footer a{
    text-decoration: none;
    background: #333;
    padding: 5px 10px;
    border-radius: 5px;
    color: white; 
}
footer p {
    color: white;
}
footer a:hover {
    background-color: #555;
    transition-duration: 0.3s;
    border-radius: 5px;
}
.container {
    border-radius: 10px;
    font-size: smaller;
    position: absolute;
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
}
.container h2 {
    color: white;
}
.container a {
    text-decoration: none;
}
th {
    border-top-left-radius: 0;
    background-color: #222;
    padding: 10px;
    color: white;
}
th:first-child {
    border-top-left-radius: 5px;
    color: white;
    padding: 10px;
}
th:last-child {
    border-top-right-radius: 5px;
    color: white;
    padding: 10px;
}
td {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #444;
}
td:hover {
    background-color: #555;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border-radius: 5px;
}
.btn-outline-success {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.btn-outline-success:hover {
    background-color: #218838;
    transition-duration: 0.3s;
}
.btn-outline-danger {
    font-family: 'Poppins', sans-serif;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-outline-danger:hover {
    background-color: #c82333;
    transition-duration: 0.3s;
}
.btn-outline-info {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.btn-outline-info:hover {
    background-color: #138496;
    transition-duration: 0.3s;
}
.btn-outline-success, .btn-outline-info, .btn-outline-danger {
    margin-right: 10px;
}
.btn-outline-primary {
    font-family: 'Poppins', sans-serif;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 3%;
    color: white;
    border: none;
    width: 90%;
}
.btn-outline-primary:hover {
    background-color: #0056b3;
    transition-duration: 0.3s;
    cursor: pointer;
}
.card {
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    padding: 20px;   
}
.body-header {
    align-items: center;
    text-align: center;
    color: white;
}
.container-add-new, .container-edit-anime {
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 20px;
    position: absolute;
    margin-left: 36.2%;
    color: white;
    padding: 20px;
}
.container-show-anime {
    background-color: #333;
    border-radius: 10px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: smaller;
    color: white;
    padding: 20px;
    width: 60%; /* Adjust width as needed */
}
.form-group {
    padding: 10px;
}
.form-control {
    font-family: 'Poppins', sans-serif;
    margin-right: 25%;
    padding: 5px;
    width: 90%;
}